@model IEnumerable<web.Models.Uporabnik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Uporabnik" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@{
    @if (User.IsInRole("Inspektor")){
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priimek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prebivalisca.Mesto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prebivalisca.Naslov)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Prebivalisca.Mesto)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Prebivalisca.Naslov)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Prika탑i ve훾</a>
                
            </td>
        </tr>
    }

    </tbody>
</table>
    }
    else if (User.IsInRole("Administrator"))
    {
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priimek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prebivalisca.Mesto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prebivalisca.Naslov)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Prebivalisca.Mesto)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Prebivalisca.Naslov)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Prika탑i ve훾</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

    </tbody>
</table>
    }
}
